* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.salman {
    background-color: black;
    color: rgb(138, 69, 69);
}

.horizontal {
    border: 5px solid black;
    /* grid box of css */
    display: flex;
    list-style: none;
}

.horizontal li {
    /* top bottom left right */
    /* pattern TRBL */
    margin: 0px 10px 0px 10px;
}

#hover-effect {
    background-color: blue;
    color: white;
    padding: 5px;
}

#hover-effect:hover {
    background-color: rgb(62, 62, 129);
    color: black;
    padding: 5px;
    cursor: pointer;
}

/* day 2 css revision */

.h-effect {
    margin-top: 10px;
}

.h-effect:hover {
    font-weight: bolder;
    cursor: pointer;
}
.a-line-khatam {
    text-decoration: none;
    cursor: default;
    border: 2px solid green;
    padding: 5px;
}

.a-line-khatam:hover {
    font-weight: bolder;
    cursor: pointer;
    color: blueviolet;
    
}

@media screen and (max-width: 425px) {
    .horizontal {
        background-color: green;
        display: block;
        
    }
}
